
<section>
    <button mat-button>
        <mat-icon svgIcon="google-icon"></mat-icon>
        <span>Sign up with Google</span>
    </button>
    <button mat-button>
        <mat-icon svgIcon="apple-icon"></mat-icon>
        <span>Sign up with Apple</span>
    </button>
</section>

<p>or</p>
<div class="example-button-row2">
    <a mat-flat-button href="https://www.google.com/" target="_blank">Create Account</a>
</div>
<span>By signing up, you agree to the <a href="/toLink">Terms of Service</a> and <a href="/toLink">Privacy Policy</a>, including <a href="/goLink">Cookie Use.</a></span>
