    section {
    display: flex;
    flex-direction: column; /* stick them items vertically */
    gap: 10px;
    width: fit-content;
  }

  section button, a{
    width: 80%;
    justify-content: center;
    border-radius: 12px;
  }

  .example-button-row a{
    background-color: rgb(50, 141, 227);
    color: white;
    font-weight: bold;
    border-radius: 20px;

  }
