<div class="content">
    <button class="close-button" mat-icon-button (click)="onXClick()" aria-label="close dialog" mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <h1 mat-dialog-title class="dialog-title">Choose your password</h1>
      <mat-form-field appearance="outline" hintLabel="">
        <mat-label class="label">Password</mat-label>
        <input class="input" matInput maxlength="50" formControlName="password"/>

        @if (password.invalid) {
          <!-- <mat-error *ngIf="form.get('password')?.touched && form.get('password')?.errors?.['required']">Password is required!</mat-error> -->
          <mat-error *ngIf="form.get('password')?.touched && form.get('password')?.errors?.['error']">{{ form.get('password')?.errors?.['error'] }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline" hintLabel="">
        <mat-label class="label">Re-enter password</mat-label>
        <input class="input" matInput maxlength="50" formControlName="rePassword"/>
        @if (rePassword.invalid) {
          <mat-error *ngIf="form.get('rePassword')?.touched && form.get('rePassword')?.errors?.['areTheSame']">{{ form.get('rePassword')?.errors?.['areTheSame'] }}</mat-error>
        }
      </mat-form-field>
        
    <div class="control-buttons" mat-dialog-actions>
      <button [disabled]="!isReady" class="control-button" mat-button color="warn">Next</button>
  </div>
    </form>
</div>

<!-- 
    <mat-form-field appearance="outline" hintLabel="">
        <mat-label class="label">Password</mat-label>
        <input class="input" matInput maxlength="50" formControlName="password"/>
        
        @if (password.invalid) {
          <mat-error *ngIf="form.get('password')?.touched && form.get('password')?.errors?.['required']">Password is required!</mat-error>
          <mat-error *ngIf="form.get('password')?.touched && form.get('password')?.errors?.['minLength']">{{ form.get('password')?.errors?.['minLength'] }}</mat-error>
          <mat-error *ngIf="form.get('password')?.touched && form.get('password')?.errors?.['hasNumber']">{{ form.get('password')?.errors?.['hasNumber'] }}</mat-error>
          <mat-error *ngIf="form.get('password')?.touched && form.get('password')?.errors?.['hasSpecialChar']">{{ form.get('password')?.errors?.['hasSpecialChar'] }}</mat-error>
        }
      </mat-form-field>
      <mat-form-field appearance="outline" hintLabel="">
        <mat-label class="label">Re-enter password</mat-label>
        <input class="input" matInput maxlength="50" formControlName="rePassword"/>
        @if (rePassword.invalid) {
          <mat-error *ngIf="form.get('rePassword')?.touched && form.get('rePassword')?.errors?.['areTheSame']">{{ form.get('rePassword')?.errors?.['areTheSame'] }}</mat-error>
        }
      </mat-form-field> -->



    <!-- <form [formGroup]="form" (ngSubmit)="submitPassChange()">
    <div class="fieldLabels">
      <label class="label" for="password"><span>Please enter your new password:</span></label>
      <input [class.input-error]="form.get('password')?.touched && !!form.get('password')?.errors" [type]="isPasswordVisible ? 'text' : 'password'" name="password" id="password" placeholder="Enter your password..." formControlName="password">
      <button type="button" (click)="togglePasswordVisibility()" class="show-hide-button">
        {{ isPasswordVisible ? 'Hide' : 'Show'}}
    </button>

    <p *ngIf="form.get('password')?.touched && form.get('password')?.errors?.['required']" class="error">Password is required!</p>
    <p *ngIf="form.get('password')?.touched && form.get('password')?.errors?.['minLength']" class="error">{{ form.get('password')?.errors?.['minLength'] }}</p>
    <p *ngIf="form.get('password')?.touched && form.get('password')?.errors?.['hasNumber']" class="error">{{ form.get('password')?.errors?.['hasNumber'] }}</p>
    <p *ngIf="form.get('password')?.touched && form.get('password')?.errors?.['hasSpecialChar']" class="error">{{ form.get('password')?.errors?.['hasSpecialChar'] }}</p>
  </div>
  <div class="fieldLabels">
      <label class="label" for="rePassword"><span>Re-enter your NEW password</span></label>
      <input [class.input-error]="form.get('rePassword')?.touched && !!form.get('rePassword')?.errors" [type]="isRePasswordVisible ? 'text' : 'password'" name="rePassword" id="rePassword" placeholder="Repeat your password..." formControlName="rePassword">
      <button type="button" (click)="toggleRePasswordVisibility()" class="show-hide-button">
        {{ isRePasswordVisible ? 'Hide' : 'Show'}}
    </button>
    <p *ngIf="form.get('rePassword')?.touched && form.get('rePassword')?.errors?.['required']" class="error">Repeat password is required!</p>
    <p *ngIf="form.get('rePassword')?.touched && form.get('rePassword')?.errors?.['areTheSame'] && !form.get('rePassword')?.errors?.['required']" class="error">{{ form.get('rePassword')?.errors?.['areTheSame'] }}</p>
  </div>
    <div class="control-buttons">
      <button type="button" class="control-button" (click)="toggleAdvancedSettings()">Cancel</button>
      <button [disabled]="isLoading$ | async" class="control-button">Save</button>
    </div>

    <app-loader [isLoading]="isLoading$ | async"></app-loader>
  </form> -->