@use '@angular/material' as mat;

.content{
  height: 60%;
  width: 66.9%;
  background-color: rgb(0, 0, 0);
  color: whitesmoke;
  padding: 16%;
  border:3px solid #5f5f5f; /* Border color */
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
  position: relative;
  // font-family: 'DM Sans', sans-seri;
  // font-optical-sizing: auto;
  // font-style: normal;
}

form{
  position: relative;
}

// :host ::ng-deep .mat-mdc-dialog-container{
//   height: 60% !important;
//   width:60% !important;
// }

// :host ::ng-deep .mat-mdc-form-field-infix {
//   flex: auto !important;
//   min-width: 0 !important;
//   position: relative !important;
//   box-sizing: border-box !important;
// }

mat-form-field {
  width: 100%;
  padding-bottom: 35px;
}

// Hint label at bottom of first input field
:host ::ng-deep .mat-mdc-form-field-hint {
  color: rgb(103, 103, 103) !important;
  font-family: 'DM Sans', sans-seri !important;
  font-weight: 300 !important;
  font-optical-sizing: auto !important;
  font-style: normal !important;
}
// ----------------------END Hint label

// input field inside text color
:host ::ng-deep .mat-mdc-form-field input{
  color: whitesmoke !important; 
  font-family: 'DM Sans', sans-seri !important;
  font-weight: 300 !important;
  font-optical-sizing: auto !important;
  font-style: normal !important;
}
// ----------------------END input field

//mdc-text-field NOT-selected color
:host ::ng-deep .mdc-text-field--outlined .mdc-notched-outline__leading{
  border-color: rgb(103, 103, 103) !important;
  border-width: 5px;
}

:host ::ng-deep .mdc-text-field--outlined .mdc-notched-outline__notch{
  border-color: rgb(103, 103, 103) !important;
  border-width: 5px;
}

:host ::ng-deep .mdc-text-field--outlined .mdc-notched-outline__trailing{
  border-color: rgb(103, 103, 103) !important;
  border-width: 5px;
}
//mdc-text-field selected color
:host ::ng-deep .mdc-text-field--outlined.mdc-text-field--focused .mdc-notched-outline__leading{
  border-color: rgb(0, 102, 255) !important;
  border-width: 5px;
}

:host ::ng-deep .mdc-text-field--outlined.mdc-text-field--focused .mdc-notched-outline__notch{
  border-color: rgb(0, 102, 255) !important;
  border-width: 5px;
}

:host ::ng-deep .mdc-text-field--outlined.mdc-text-field--focused .mdc-notched-outline__trailing{
  border-color: rgb(0, 102, 255) !important;
  border-width: 5px;
}
// -------------------END mdc-text-field

//mdc-label inside input NOT-selected color
:host ::ng-deep .mdc-notched-outline--upgraded .mat-mdc-floating-label{
  color: rgb(103, 103, 103) !important;
} 
//mdc-label inside input FOCUSED color
:host ::ng-deep .mat-mdc-form-field.mat-focused .mdc-text-field--outlined .mdc-notched-outline--notched .mat-mdc-floating-label.mdc-floating-label--float-above{
  color: rgb(0, 102, 255) !important;
}
//mdc-label inside input INVALID Selected color
:host ::ng-deep .mat-mdc-form-field.mat-focused .mdc-text-field--outlined.mdc-text-field--invalid .mdc-notched-outline--notched .mat-mdc-floating-label.mdc-floating-label--float-above{
  color: rgb(227, 5, 5) !important;
}
//mdc-label inside input INVALID Not-selected color
:host ::ng-deep .mdc-text-field--outlined.mdc-text-field--invalid .mdc-notched-outline--notched .mat-mdc-floating-label.mdc-floating-label--float-above{
  color: rgb(227, 5, 5) !important;
}
// ----------------- END   mdc-label

//mdc-text-field INVALID selected color 
:host ::ng-deep .mdc-text-field--outlined.mdc-text-field--invalid .mdc-notched-outline__leading{
  border-color: rgb(227, 5, 5) !important;
}
:host ::ng-deep .mdc-text-field--outlined.mdc-text-field--invalid .mdc-notched-outline__notch{
  border-color: rgb(227, 5, 5) !important;
}
:host ::ng-deep .mdc-text-field--outlined.mdc-text-field--invalid .mdc-notched-outline__trailing{
  border-color: rgb(227, 5, 5) !important;
}
// ----------------- END  mdc-text-field 


.control-buttons{
    text-align: center;
    padding-bottom: 2%;
    padding-top: 2%;
    width: 100%;
  }

 // control-button mdc-button mat-mdc-button mat-warn mat-mdc-button-disabled mat-mdc-button-base
//  control-button mdc-button mat-mdc-button mat-warn mat-mdc-button-base
:host ::ng-deep .control-button.mat-mdc-button-disabled{
  background-color: #4f4f4f !important;
  color: #000000 !important;
  border-radius: 20px !important;
  font-weight: bold !important;
  width: 100% !important;
}
:host ::ng-deep .control-button:not(.mat-mdc-button-disabled) {
  background-color: #e3e3e3 !important;
  color: #000000 !important;
  cursor: pointer !important;
  border-radius: 20px !important;
  transition: background-color 0.8s ease  !important;
  text-align: center !important;
  font-weight: bold !important;
  width: 100% !important;
}


// .control-button{
//     flex: 1;
//     padding: 10px;
//     border: none;
//     border-radius: 5px;
//     color: #fff;
//     background-color: #007bff;
//     cursor: pointer;
//     transition: background-color 0.3s ease;
//     text-align: center;
//     font-weight: bold;
//     width: 20%;
//     letter-spacing: 2px;
//   }

// .control-button:hover{
//     background-color: #0056b3;
//   }


.dialog-title{
  color: whitesmoke;
  font-family: 'DM Sans', sans-seri;
  font-weight: 600;
  font-optical-sizing: auto;
  font-style: normal;
  text-align: center;
}

.close-button{
    float: right;
    position: absolute;
    top: 1%;
    left: 1%;
  }

  .close-button:hover{
    background-color: rgba(91, 91, 91, 0.47);
    transition: background-color 0.8s ease;
  }

